$max-content-width: 1200px;
$bg-color: #f9f9f9;
$border-radius: 8px;
$box-shadow-color: rgba(0, 0, 0, 0.05);

#root {
  width: 100%;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 100px;
  background: rgba(194, 230, 236, 0.2);
}
.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }
}
